html,
:root {
	font-size: 62.5%;
	width: 100vw;
	height: 100vh;
	max-width: 100%;
	max-height: 100%;
	color: white;

	* {
		box-sizing: border-box;
		padding: 0px;
		margin: 0px;
	}
}

.mainContainer {
	margin: auto;
	width: 2200px;
	//height: 269vh;
	height: 300vh;
	background-color: black;
	overflow: hidden;
	z-index: -1;

	.container {
		display: flex;
		justify-content: center;

		.column {
			position: relative;
			display: flex;
			flex-direction: column;
			//gap: 50px;
			margin-top: calc($BoxSize / 1.5 * -1);
		}
	}
}
