html,
:root {
	font-size: 2.06vw;
	width: 100vw;
	height: 100vh;
	max-width: 100%;
	max-height: 100%;
	color: white;

	* {
		box-sizing: border-box;
		padding: 0px;
		margin: 0px;
	}

	*::-webkit-scrollbar {
		width: 0px;
		height: 0px;
		appearance: none;
		color: transparent;
	}

	scrollbar-width: 0px;
	scrollbar-color: transparent transparent;
}

@mixin align-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

body {
	width: calc($BoxSize * 1.15 * 4);
}

.mainContainer {
	margin: auto;
	width: 100%;
	height: 310vh;
	overflow: hidden;

	background-color: black;
	z-index: -1;

	.container {
		display: flex;
		justify-content: center;
		width: 100%;
		position: relative;

		.column {
			position: relative;
			display: flex;
			flex-direction: column;
			//gap: 50px;
			margin-top: calc($BoxSize / 1.5 * -1);
		}
	}
}
