$headercolor: #751B44;
$bordercolor: #4f4f4f;


//Breakpoint
$DesktopBreakpoint: 1000px;
$MediumBreakpoint: 800px;
$SmallBreakpoint: 500px;
$MobileBreakpoint: 500px;


//Desktop > 1000px
$BoxSize: 12.14em;
$BoxSizeFocus: calc($BoxSize * 1.1);
//Medium > 800px
$MediumBoxSize: 15.782em;
$MediumBoxSizeFocus: calc($MediumBoxSize * 1.1);
//Small > 500px
$SmallBoxSize: 23.673em;
$SmallBoxSizeFocus: calc($SmallBoxSize * 1.1);
//Mobile < 500px
$MobileBoxSize: 39em;
$MobileBoxSizeFocus: calc($MobileBoxSize * 1.1);

$BoxBorderRadius: 0.65em;
$SidePadding: calc($BoxBorderRadius + 0.2em);

$BoxBounce: 105.1%;
$BoxImageSizeExtend: 105%;
$BoxImageSizeNarrow: 105%;

:export {
	DesktopBreakpoint: $DesktopBreakpoint;
	MediumBreakpoint: $MediumBreakpoint;
	SmallBreakpoint: $SmallBreakpoint;
	MobileBreakpoint: $MobileBreakpoint;
}

$BoxTransitionTime: 100ms;
$BounceAnimTime: 200ms;
$MarqueeAnimTime: 5s;
$TitleBounceTime: 250ms;

$MarqueeFontSize: 1em;


@font-face {
	font-family: PoppinsRoll;
	src: url(/assets/fonts/Poppins/Poppins-Thin.ttf);
}

@font-face {
	font-family: Poppins;
	src: url(/assets/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
	font-family: PoppinsTitle;
	src: url(/assets/fonts/Poppins/Poppins-ExtraBold.ttf);
}

@font-face {
	font-family: PoppinsItalic;
	src: url(/assets/fonts/Poppins/Poppins-LightItalic.ttf);
}
