$headercolor: #751B44;
$bordercolor: #262626;



$BoxSize: 480px;
$BoxSizeFocus: 528px;
$BoxBorderRadius: 25px;
$BoxBounce: 105.1%;
$BoxImageSizeExtend: 105%;
$BoxImageSizeNarrow: 105%;
$MobileBreakpoint: 1000px;



$BoxTransitionTime: 100ms;
$BounceAnimTime: 200ms;
$MarqueeAnimTime: 5s;
$TitleBounceTime: 250ms;

$MarqueeFontSize: 4rem;

@font-face {
	font-family: PoppinsRoll;
	src: url(/assets/fonts/Poppins/Poppins-Thin.ttf);
}
