.boxContainer {
	aspect-ratio: 1/1;
	width: $BoxSize;
	border-radius: $BoxBorderRadius;
	position: relative;
	transition: $BoxTransitionTime ease-out;


	margin: 100px auto;

	.marquee {
		display: none;
	}

	&:hover {
		width: $BoxSizeFocus;
		height: $BoxSizeFocus;

		.marquee {
			display: block;
		}

		img {
			animation: bounceImage $BounceAnimTime linear;
			width: $BoxImageSize;
			height: $BoxImageSize;
			bottom: calc(calc($BoxImageSize - 100%) / 2);
		}
	}
}

@keyframes bounceImage {
	0% {
		width: 100%;
		height: 100%;
	}

	90% {
		width: $BoxBounce;
		height: $BoxBounce;
	}
}
