.titleContainer {
	width: 100%;
	position: absolute;
	padding-left: $SidePadding;
	padding-right: $SidePadding;
	display: flex;
	flex-direction: column;
	justify-content: center;

	h3 {
		font-size: 1.1em;
	}

	i {
		font-size: 0.5em;
		font-weight: 800;
		position: relative;
	}
}
