.imgContainer {
	overflow: hidden;
	display: flex;
	border: 1px solid $bordercolor;
	border-radius: 25px;

	img {
		position: relative;
		margin: auto;
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}
