.backButtonContainer {
  position: absolute;
  width: 55px;
  height: 55px;
  transition: transform 200ms;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}

@media screen and (max-width: 800px) {
  .backButtonContainer {
    top: 1%;
    left: 1%;
    transform: scale(0.7);
    transition: transform 200ms;

    &:hover {
      transform: scale(0.8);
    }
  }
}
