@mixin align-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

body {
	width: 100vw;
	background-color: black;
}

.container {
	overflow: hidden;
	position: relative;
	background-color: black;
	width: 100vw;
	height: 100vh;
	color: white;
	display: flex;
	padding: 20px;

	.textContainer {
		width: max-content;
		position: relative;
		display: flex;
		flex-direction: column;
		padding: 0 0.5rem;

		.mainTitle {
			font-size: 2.5rem;
			position: relative;
			margin: 0;
			font-family: 'PoppinsTitle';
		}

		.text {
			margin: auto;
			font-family: 'Poppins';
			font-size: 1.2rem;

		}

		.links {
			margin-top: auto;
			font-size: 0.7rem;
			font-family: 'PoppinsItalic';
			padding-bottom: 5%;

			a {
				color: $bordercolor;
				text-decoration: none;
			}
		}
	}

	.projectContainer {
		position: relative;
		width: clamp(600px, 60%, 800px);
		gap: 0.5rem;
		padding: 0 0.5rem;

		@include align-center();
		flex-direction: column;

		a {
			@include align-center();
		}

		.imgClass {
			border-radius: $BoxBorderRadius;
		}

		.technoContainer {
			width: 400px;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			gap: 10px;
			font-family: 'PoppinsItalic';
			font-size: 0.7rem;
		}
	}

}


@media screen and (max-width: $DesktopBreakpoint) {
	.container {
		padding: 30px;

		.textContainer {
			padding: 0 0.5rem;

			.mainTitle {
				font-size: 3rem;
				margin: 0;
			}

			.text {
				font-size: 1.4rem;
			}

			.links {
				font-size: 0.74rem;
			}
		}

		.projectContainer {
			width: clamp(400px, 60%, 500px);
			padding: 0 0.5rem;


			.technoContainer {
				width: 250px;
				font-size: 0.8rem;

				img {
					width: 30px;
					height: 30px;
				}
			}
		}
	}
}

.containerMobile {
	margin: 0;
	background-color: black;
	color: white;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	padding: 20px;

	.mainTitleMobile {
		text-align: center;
		font-size: 4rem;
		font-family: 'PoppinsTitle';
		margin-bottom: 2rem;
	}

	.projectContainerMobile {
		margin: 2rem auto;
		@include align-center();
		flex-direction: column;
		width: 100%;
		gap: 10px;

		a {
			@include align-center();
		}

		.imgClassMobile {
			border-radius: $BoxBorderRadius;

			img {
				width: clamp(250px, 85vw, 650px);
			}
		}

		.technoContainerMobile {
			margin: auto;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			width: 80%;
			gap: 10px;
			height: 100px;

			img {
				width: 40px;
				height: 40px;
			}

			span {
				display: none;
			}
		}
	}

	.textMobile {
		text-align: center;
		margin: 2rem auto;
		font-family: 'Poppins';
		font-size: 2.5rem;
	}

	.linksMobile {
		margin-top: 50px;
		position: relative;
		bottom: 2rem;
		font-size: 1.8rem;
		font-family: 'PoppinsItalic';

		a {
			color: $bordercolor;
			text-decoration: none;
		}
	}

}

@media screen and (max-width: $MediumBreakpoint) {}

@media screen and (max-width: $SmallBreakpoint) {

	.containerMobile {

		.projectContainerMobile {

			.technoContainerMobile {
				gap: 0px;

				img {
					width: 30px;
					height: 30px;
				}
			}
		}
	}
}
