html,
:root {
	font-size: 2.06vw;
	max-height: 100%;
	max-width: 100%;
}

* {
	box-sizing: border-box;
}

@mixin align-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	overflow: hidden;
	position: relative;
	background-color: black;
	width: 100vw;
	height: 100vh;
	color: white;
	display: flex;
	padding: 1rem;

	.textContainer {
		width: calc(100% - 650px);
		position: relative;
		display: flex;
		flex-direction: column;
		padding: 0 0.5rem;

		.mainTitle {
			font-size: 2.5rem;
			position: relative;
			margin: 0;
			font-family: 'PoppinsTitle';
		}

		.text {
			margin: auto;
			font-family: 'Poppins';
			font-size: 1rem;

		}

		.links {
			margin-top: auto;
			font-size: 0.6rem;
			font-family: 'PoppinsItalic';
			padding-bottom: 5%;

			a {
				color: $bordercolor;
				text-decoration: none;
			}
		}
	}

	.projectContainer {
		position: relative;
		width: 650px;
		gap: 0.5rem;
		padding: 0 0.5rem;

		@include align-center();
		flex-direction: column;

		.imgClass {
			border-radius: $BoxBorderRadius;
		}

		.technoContainer {
			width: 400px;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			gap: 10px;
			font-family: 'PoppinsItalic';
			font-size: 0.5rem;
		}
	}

}


@media screen and (max-width: $DesktopBreakpoint) {
	.container {
		padding: 3rem;

		.textContainer {
			width: calc(100% - 400px);
			padding: 0 0.5rem;

			.mainTitle {
				font-size: 3rem;
				margin: 0;
			}

			.text {
				font-size: 1.2rem;
			}

			.links {
				font-size: 0.74rem;
			}
		}

		.projectContainer {
			width: 400px;
			padding: 0 0.5rem;



			.technoContainer {
				width: 250px;
				font-size: 1rem;

				img {
					width: 30px;
					height: 30px;
				}
			}
		}
	}
}

.containerMobile {
	margin: 0;
	background-color: black;
	color: white;
	width: 100vw;
	height: fit-content;
	@include align-center();
	flex-direction: column;
	padding: 2rem;
	gap: 50px;

	.mainTitleMobile {
		text-align: center;
		margin: auto;
		font-size: 4rem;
		font-family: 'PoppinsTitle';
		margin-bottom: auto;
	}

	.projectContainerMobile {
		@include align-center();
		flex-direction: column;
		width: 100%;

		.imgClassMobile {
			border-radius: $BoxBorderRadius;

			img {
				width: 100%;
			}
		}

		.technoContainerMobile {
			margin: auto;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			width: 80%;
			gap: 5px;
			height: 100px;

			img {
				width: 35px;
				height: 35px;
			}

			span {
				display: none;
			}
		}
	}

	.textMobile {
		text-align: center;
		margin: auto;
		font-family: 'Poppins';
		font-size: 2.5rem;
	}

	.linksMobile {
		margin: auto;
		font-size: 1.8rem;
		font-family: 'PoppinsItalic';

		a {
			color: $bordercolor;
			text-decoration: none;
		}
	}

}

@media screen and (max-width: $MediumBreakpoint) {}

@media screen and (max-width: $SmallBreakpoint) {
	.containerMobile {
		gap: 20px;

	}
}
